.card {
    transition: all 0.3s ease-in-out;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.card-highlight:hover {
    border-color: var(--aquamarine);
    box-shadow: 0 0 15px var(--bright-pink-crayola);
}

.highlight {
    color: var(--aquamarine);
}

.nn-gradient-text {
    background: var(--bright-pink-crayola);
    background: linear-gradient(to right, var(--bright-pink-crayola), var(--maize));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.keyhole .cls-1 {
    fill: black;
    transition: all 0.3s ease-in;
}

.keyhole:hover .cls-1 {
    fill: #260e0e;
}

div.container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 100vw;
}

div.container > h1{ /*Set the position to relative in order to place the sidebar then.*/
	position: relative;
}

/*Setup the blinking sidebar*/
div.container > h1:after{
	 	content: "";
		/*The width is the actual sidebar thickness.*/
    width: 2px;
		/*The height fits to the text*/
    height: 100%;
    background-color: black;
		/*Position the sidebar at the right of the text*/
		position: absolute;
    right: 0;
    top: 0;
		/*Apply the blinkking animation looping in 2 steps: visible -> hidden.*/
    animation: blink 1s infinite steps(2, start);
}

/*Create the blinking animation by simply hide the element.*/
@keyframes blink {
    to{
        visibility: hidden;
    }

}
