{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block content %}
<div class="anchor-point"></div>
<div class="col-12 col-lg-10 my-5 wipe-in" style="text-align: left;">
    <div class="container my-5">
        <!-- <img src="{% static 'images/memoji.png' %}" alt="My memoji" width="200"> -->
        <div class="pb-2 mb-5">
            <h1 class="display-4 fw-bolder"><span class="nn-gradient-text">About Me</span></h1>
        </div>

        <!-- Adding smaller headers and subpoints -->

        <div class="section">
            <p>I'm a Software engineer passionate about AI, web dev, and anything that pushes computing forward.
        I'm fascinated by any challenge involving computers and creative problem-solving. Over the years
        I've grown particular fond of work to AI, web development, and systems engineering.</p>

            <h3>What kind of dev are you?</h3>
            <p>That's a hard question to answer. I've been fortunate enough to have at least played with
                just about every category of coding project. Including Web, Ai, Web3, native applications, UNIX programs,
                and so much more. Where my passion lies is with projects that push the limits of computing and allows me
            to engineer new solutions to complex problems.</p>
            <h3>What kind of projects do you work on?</h3>
            <p></p>
            <h3>What kind of technologies do you work with?</h3>
            <p>This is mostly-complete list of the languages, frameworks and tools I work with. I'm willing to bet I forgot a few
            so if you are needing me to work with a specific feel free to ask.</p>
        </div>
        <div class="section" style="text-align: center">
             <button style="" class="button" onclick="window.location.href='{%  url 'contact' %}'" >Contact me</button>
        </div>
    </div>
</div>



{% endblock %}