{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block content %}
<div class="anchor-point"></div>
<div class="col-12 col-lg-10 my-5 wipe-in" style="text-align: left;">
    <div class="container my-5">
        <!-- <img src="{% static 'images/memoji.png' %}" alt="My memoji" width="200"> -->
        <div class="pb-2 mb-5">
            <h1 class="display-4 fw-bolder"><span class="nn-gradient-text">About Me</span></h1>
        </div>

        <!-- Adding smaller headers and subpoints -->

        <div class="section">
            <p>I'm a Software engineer passionate about AI, web dev, and anything that pushes computing forward.
        I'm fascinated by any challenge involving computers and creative problem-solving. Over the years
        I've grown particular fond of work to AI, web development, and systems engineering. I also have a huge passion for
            the outdoors, hiking, photography, and reading.</p>

            <h3>What kind of dev are you?</h3>
            <p>That's a hard question to answer. I've been fortunate enough to have at least played with
                just about every category of coding project. Including Web, Ai, Web3, native applications, UNIX programs,
                and so much more. Where my passion lies is with projects that push the limits of computing and allows me
            to engineer new solutions to complex problems.</p>
            <h3>What kind of projects do you work on?</h3>
            <p>When I embark on any project, my mission is to engineer an innovative and creative solution that not only
                meets the requirements but also surpasses expectations. I thrive on unique challenges, seeking out
                opportunities to push the boundaries of what's possible in the world of technology. With a passion for AI,
                web development, and systems engineering, I bring a dynamic skill set to every endeavor, ensuring that each
                project is a testament to the power of forward-thinking engineering. </p>
            <h3>What kind of technologies do you work with?</h3>
            <p>This is mostly-complete list of the languages, frameworks and tools I work with. I'm willing to bet I forgot a few
            so if you are needing me to work with a specific feel free to reach out and ask.</p>
            <p><img src="https://img.shields.io/badge/C-00599C?style=for-the-badge&logo=c&logoColor=white">
                <img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white">
                <img src="https://img.shields.io/badge/Dart-0175C2?style=for-the-badge&logo=dart&logoColor=white">
                <img src="https://img.shields.io/badge/Go-00ADD8?style=for-the-badge&logo=go&logoColor=white">
                <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white">
                <img src="https://img.shields.io/badge/OpenJDK-ED8B00?style=for-the-badge&logo=openjdk&logoColor=white">
                <img src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E">
                <img src="https://img.shields.io/badge/Kotlin-0095D5?&style=for-the-badge&logo=kotlin&logoColor=white">
                <img src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=blue">
                <img src="https://img.shields.io/badge/Rust-black?style=for-the-badge&logo=rust&logoColor=#E57324">
                <img src="https://img.shields.io/badge/Solidity-e6e6e6?style=for-the-badge&logo=solidity&logoColor=black">
                <img src="https://img.shields.io/badge/Shell_Script-121011?style=for-the-badge&logo=gnu-bash&logoColor=white">

                <img src="https://img.shields.io/badge/Pandas-2C2D72?style=for-the-badge&logo=pandas&logoColor=white">
                <img src="https://img.shields.io/badge/Numpy-777BB4?style=for-the-badge&logo=numpy&logoColor=white">
                <img src="https://img.shields.io/badge/PyTorch-EE4C2C?style=for-the-badge&logo=pytorch&logoColor=white">
                <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white">
                <img src="https://img.shields.io/badge/Docker-2CA5E0?style=for-the-badge&logo=docker&logoColor=white">
                <img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=green">
                <img src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white">
                <img src="https://img.shields.io/badge/gradle-02303A?style=for-the-badge&logo=gradle&logoColor=white">
                <img src="https://img.shields.io/badge/Jupyter-F37626.svg?&style=for-the-badge&logo=Jupyter&logoColor=white
	">
                <img src="https://img.shields.io/badge/Vue%20js-35495E?style=for-the-badge&logo=vuedotjs&logoColor=4FC08D">
                <img src="https://img.shields.io/badge/npm-CB3837?style=for-the-badge&logo=npm&logoColor=white">
                


                <img src="https://img.shields.io/badge/microsoft%20azure-0089D6?style=for-the-badge&logo=microsoft-azure&logoColor=white">
                <img src="https://img.shields.io/badge/Azure_DevOps-0078D7?style=for-the-badge&logo=azure-devops&logoColor=white">
                <img src="https://img.shields.io/badge/Cloudflare-F38020?style=for-the-badge&logo=Cloudflare&logoColor=white">
                <img src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&logo=heroku&logoColor=white">
                
                <img src="https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&logo=mongodb&logoColor=white">
                <img src="https://img.shields.io/badge/MySQL-005C84?style=for-the-badge&logo=mysql&logoColor=white">
                <img src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white">
                <img src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&logo=sqlite&logoColor=white">
                
            </p>
            <p>
                If you have a project you feel I'd be a good fit for please reach out!
            </p>
        </div>
        <div class="section" style="text-align: center">
             <button style="" class="button" onclick="window.location.href='{%  url 'contact' %}'" >Contact me</button>
        </div>
    </div>
</div>



{% endblock %}