{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% load static %}
{% block content %}
<div class="anchor-point"></div>
<div class="col-12 col-lg-10 my-5 wipe-in" style="text-align: center;">
    <div class="container my-5">
        <div class="pb-2 mb-5">
            <h1 class="display-4 fw-bolder"><span class="nn-gradient-text">Contact Me</span></h1>
        </div>
        <!-- Adding smaller headers and subpoints -->
        <div class="section">
            <p> If your interested in working with me I highly encourage you reach out. </p>
            <div class="social-icons" style="font-size: larger">
        <a href="https://www.instagram.com/fbrowne3604" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://twitter.com/BrowneFulton" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://github.com/fultonbrowne" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="mailto:fultonbrowne@proton.me"><i class="fas fa-envelope fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/fulton-browne-925a20245/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
        </div>
    </div>
</div>



{% endblock %}