{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
    <style>
    body {
        background: linear-gradient(to right, var(--neon-blue), var(--aquamarine));
    }
    </style>
    <div id="clickToScroll"
         class="container-flex d-flex flex-column justify-content-center align-items-center bg-tall">
        <div class="row justify-content-center align-items-center px-5 py-5 col-12 col-xl-10 mx-auto text-center">
            <div class="mx-2 my-2">
                <h1 class="display-1 fw-bolder wipe-in" id="text-reveal">
                </h1>
                <div class="anchor-point"></div>
                <div class="fade-container home-text" id="desctext1" style=" margin: 0 auto; text-align: center">
                    A Software engineer passionate about AI, web dev, and anything that pushes computing forward.
                    Nothing excites me more than a challenging project that pushes the boundaries of what's possible in the digital realm.
                </div>
                <div class="fade-container lead" id="buttons" style="margin-top: 5%">
                    <button class="button" onclick="window.location.href='{%  url 'about' %}'">About Me</button>
                    <!--<button class="button" onclick="window.open('https://docs.google.com/document/d/1pb-nuJLa2Y1NP1MnoiiJazVBxVCQDqyVrxskqwUHjPY/edit?usp=sharing', '_blank')" >Resume</button> -->
                    <button class="button" onclick="window.open('https://github.com/FultonBrowne', '_blank')">My Code</button></div>
            </div>
        </div>
    </div>


    <script src="{% static 'scripts/text-reveal.js' %}"></script>
{%  endblock %}